{# src/Wabbox/LettreBundle/Resources/views/Default/expediteur.html.twig #}
<section id="expediteur_liste">
    <ul>
        <li>
            <h2>{{ expediteur.nom }} {{ expediteur.prenom }}</h2>
        </li>
        <li>{{ expediteur.adresse }}</li>
        <li>{{ expediteur.codePostal }} {{ expediteur.ville }}</li>
        <li>{{ expediteur.telephone }}</li>
        <li>{{ expediteur.email }}</li>
    </ul>
</section>
